* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: aliceblue;
}

#main {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg);
    background-size: cover;
    background-position: center;
}

nav {
    width: 100%;
    position: absolute;
    display: flex;
    padding: 50px;
    gap: 990px;
    align-items: center;
    z-index: 999;
}

nav #nav-right a {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 20px;
    transition: 0.2s;
}

nav #nav-right a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.185);
    gap: 60px;
}

.place {
    padding-left: 50px;
    width: 85%;
}

.place h4 {
    white-space: nowrap;
    display: inline-block;
    font-weight: 500;
    border-bottom: 1px solid white;
    padding-bottom: 4px;
    transition: 0.2s;
}

.place h6 {
    padding-top: 2px;
    font-weight: 100;
    opacity: 0.65;
}

.place:hover {
    font-size: 50px;
}

#right {

    position: relative;
    height: 100%;
    width: 70%;
}

#right-text {
    text-align: right;
    position: absolute;
    top: 40%;
    right: 15%;
    font-weight: 200;
}

#right-text h4 {
    font-size: 20px;
    padding-right: 33px;
}

#right-text h2 {
    font-weight: 200;
    font-size: 150px;
}

#input {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

#right-text input {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}

input::placeholder {
    color: white;
}

#input i {
    font-size: 20px;
}
@media(max-width:500px){
    
}
