*{
    margin: 0;
    padding: 0;
    color: white;
    /* box-sizing:content-box; */
    font-family: 'gilroy';
}
html,
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #fb6f92;

}
#text{
    white-space: nowrap;
    font-size: 50px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#options{
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap:100px;
}

a{
    text-decoration: none;
}
#button1,#button2{
    position: relative;
    width: 200px;
    border: solid 2px white;
    padding: 30px;
    overflow: hidden;
    
}
#button1::before{
    
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    content: 'Yess';
    transition: 0.3s;
    
}

#button1::after{
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    content: 'Chup behen ki lodi ';
    top:140%;
    transition: 0.3s;
}
#button1:hover::before{
    top: -50%;
    cursor: pointer;
}
#button1:hover::after{
    top: 50%;
    cursor: pointer;
}
#button2::before{
    
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    content: 'No';
    transition: 0.3s;
    
}

#button2::after{
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    content: 'I Love You ,Bubu';
    top:140%;
    transition: 0.3s;
}
#button2:hover::before{
    top: -50%;
    cursor: pointer;
}
#button2:hover::after{
    top: 50%;
    cursor: pointer;
}

